In [ ]:
#functions
def a():
    print('a called')
a()

In [ ]:
def s():
    a=2
    b=2
    print(sum((a,b)))
n=s()
type(n)

In [ ]:
#return
def s():
    a=2
    b=5
    return(a+b)
    print(a+b)
n=s()
type(n)

In [ ]:
#function with parameters
def s(x):
    print(x*2)
s(3)

In [ ]:
def s(a,b):
    return(a+b)
s(3,5)

In [ ]:
str1=10
def double_it(x=str1):
    return x * 2
double_it()

In [ ]:
# function with dictionary
def add_dic(args={'a':1,'b':2}):
                for i in args.keys():
                    args[i]+=1
                print(args)
                
add_dic

In [ ]:
add_dic()

In [ ]:
#postional args
def s(x,y):
    return(x+y)
a=s(2,5)
print(a)

In [ ]:
def s(x,y):
    return(x+y)
s()

In [ ]:
def diff(a,b,c):
    return(a-b-c)
a=diff(5,6,8)
print(a)

In [ ]:
#keyword argsd
def m(x=2,y=2):
    print(x*y)
m(4,8)

In [ ]:
def m(x=2,y=2):
    print(x*y)
m(y=12)

In [ ]:
def m(x,y=2):
    print(x*y)
m(2)

In [ ]:
#vvariable numbers of positional args
def s(*args):
    print(type(args),args)
s(1,2,'r','hrll',2+4)

In [ ]:
#variable numbers of keywords args
def s1(*args,**kwargs):
    print(type(args),args,type(kwargs),kwargs)
s1(4,5.0,'t','street',2+3,t=2,y=0)

In [ ]:
#globel vairable
a=2 #global variables
b=3
def change():
    global a
    a=45#local varibales
    b=34
    print(a,b)
change()
print(a,b)

In [ ]:
def s(x,y):
    return(x+y)
s(2,3)

In [ ]:
help(s)#doc_string

In [ ]:
a= 32
def ch():
    a=44
    print(a)
ch()
print(a)

In [ ]:
a= 32
def ch():
    global a
    a=44
    print(a)
ch()
print(a)

In [ ]:
#class
help(2)

In [2]:
import random

class Employee:
   'Common base class for all employees'
   empCount = 0

   def __init__(self, name, salary):
      self.name = name
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self):
     print("Total Employee %d" % Employee.empCount) 

   def displayEmployee(self):
      print ("Name : ", self.name,  ", Salary: ", self.salary)

In [ ]:
a = Employee('rahul',2000)

In [ ]:
a.displayEmployee()
Employee.empCount

In [ ]:
b = Employee('ronak',500)

In [ ]:
b.name

In [ ]:
b.displayEmployee()

In [ ]:
import os

os.getcwd()

In [ ]:
print(type(b))

In [ ]:
__name__

In [ ]:
a.salary = 400

In [ ]:
a.age =  44 # insert attribute

In [ ]:
a.age

In [ ]:
del a.age #delete attribute by del keyword

In [ ]:
getattr(b,'salary')

In [ ]:
class Student:
    
    def __init__(self,std_name,std_mark):
        self.name=std_name
        self.marks=std_mark
        

    def display_student(self):
        #using one line if else function
        print ("Name : ", self.name,  ", Marks: ", self.marks, ", Percentage :", (self.marks/500)*100, ", Result : ",'pass' if ((self.marks/500)*100)>40 else 'fail')
    
        
std= Student('arun',10)    
std.display_student()

In [ ]:
# Another metnod to use classes and it`s functions
class Student:
    
    def __init__(self,std_name,std_mark):
        self.name=std_name
        self.marks=std_mark
        self.percent=(std_mark/500)*100
        if(self.percent > 40 and self.percent <=500):
            self.result='pass'
        else:
            self.result='fail'

    def display_student(self):
        #using one line if else function
        print ("Name : ", self.name,  ", Marks: ", self.marks, ", Percentage :", self.percent, ", Result : ",self.result)
    
        
std= Student('arun',600)    
std.display_student()

class employee:
    def __init__(self,emp_id,name,salary):
        self.id=emp_id
        self.salary= salary
        self.name=name
    def display_emp_details(self):
            print("Employee Id :", self.id, ",Employee Name :", self.name, ",Salary : ", (self.salary))
for i in range(0,10):   
    emp_data=employee(i+1,input('enter name of employee'),int(input('enter salary :-'))-200)
    emp_data.display_emp_details()

random.randint(1,101)

In [1]:
import random

class employee: 
    def __init__(self,emp_id,name,salary): 
        self.id=emp_id 
        self.salary= salary 
        self.name=name 
        
    def display_emp_details(self): 
        print("Employee Id :", self.id, ",Employee Name :", self.name, ",Salary : ", self.salary, ",Age :" ,emp_data.age) 


sa = int(input('enter main salary :-'))
for i in range(1,5):
    sa-=200
    emp_data=employee(i,input('enter name of employee'),sa) 
    setattr(emp_data, 'age',random.randint(25,60)) #random.randint(start,end) used to generate random no.
    emp_data.display_emp_details()

enter main salary :-32323
enter name of employeewq
Employee Id : 1 ,Employee Name : wq ,Salary :  32123 ,Age : 36
enter name of employeee
Employee Id : 2 ,Employee Name : e ,Salary :  31923 ,Age : 43
enter name of employeew
Employee Id : 3 ,Employee Name : w ,Salary :  31723 ,Age : 31
enter name of employeee
Employee Id : 4 ,Employee Name : e ,Salary :  31523 ,Age : 46

In [1]:
import random
for x in range(10):
  print (random.randint(1,101))

100
18
75
19
80
86
29
44
35
13

In [7]:
# find maximum of three 
def max_of_two(x,y):
    if (x>y):
        return (x)
    else:
        return(y)
def max_of_three(x,y,z):
    return max_of_two(x,max_of_two(y,z))

print(max_of_three(2,4,5))

5

In [11]:
#Write a Python function to sum all the numbers in a list. 
#Sample List : (8, 2, 3, 0, 7)
sample_list=[8,2,3,0,7]
def sum_of_list():
    s=sum(sample_list)
    print (s)
    
sum_of_list()

20

In [4]:
#Write a Python function to multiply all the numbers in a list.
sample_list=[8, 2, 3, -1, 7]
def multiply():
    result=1
    for i in sample_list :
        result = result * i
        #print(i*result)
    
    return(result)

print(multiply())

-336

In [5]:
-48 * 7

-336